<Texts Type="Other">
	<List>
		<Text Name="CosmeticPack_XiaoWuJian">
			<Display>Demonic Furniture Appearance Bundle</Display>
		</Text>
		<Text Name="CosmeticPack_Building">
			<Display>Huge Figures Appearance Bundle</Display>
		</Text>
		<Text Name="CosmeticPack_Others">
			<Display>Vessel/Pet/Spirit Contract Skin Bundle</Display>
		</Text>
	</List>
</Texts>