<Texts Type="Other">
	<List>
		<Text Name="LostPart">
			<DisplayName>Lost Item</DisplayName>
		</Text>
		<Text Name="SYS_ATK">
			<DisplayName>Attack Stance</DisplayName>
			<Desc>Pembudidaya fisik akan menyerang tubuh fisik musuh dengan kekuatan penuh, namun kemampuan pertahanan tubuh rahasia akan berkurang.</Desc>
		</Text>
		<Text Name="SYS_NORMAL">
			<DisplayName>Common Stance</DisplayName>
			<Desc>Sikap bertarung standar untuk kultivator fisik. Pertama-tama ia menangani artefak musuh dan kemudian menyerang tubuh fisik mereka. Jurus ini sama-sama bagus dalam menyerang dan bertahan serta seimbang dalam berbagai kemampuan.</Desc>
		</Text>
		<Text Name="BPAttitudes_ManJi">
			<DisplayName>Barbarian Will</DisplayName>
			<Desc>Menggunakan kemauan bertarung yang kuat untuk memerintahkan seluruh tubuh untuk bergerak dan langsung menyerang tubuh fisik musuh, secara drastis meningkatkan kemampuan menyerang sambil mempertahankan pertahanan instingtual.</Desc>
		</Text>
		<Text Name="BPAttitudes_WangZhe">
			<DisplayName>Will of the King</DisplayName>
			<Desc>Tetap tenang dan tenang saat menghadapi pertempuran dengan hati seorang raja. Mengurangi konsumsi rahasia tubuh.</Desc>
		</Text>
	</List>
</Texts>