<Texts Type="Other">
	<List>
		<Text Name="single_jin">
			<Display>Metal Fullness</Display>
			<Desc>Meningkatkan unsur logam di lingkungan dan tingkat terobosan hukum logam.</Desc>
		</Text>
		<Text Name="single_mu">
			<Display>Wood Fullness</Display>
			<Desc>Meningkatkan unsur kayu di lingkungan dan tingkat terobosan hukum kayu.</Desc>
		</Text>
		<Text Name="single_shui">
			<Display>Water Fullness</Display>
			<Desc>Meningkatkan unsur air di lingkungan dan tingkat terobosan hukum air.</Desc>
		</Text>
		<Text Name="single_huo">
			<Display>Fire Fullness</Display>
			<Desc>Meningkatkan elemen api di lingkungan dan terobosan hukum kebakaran.</Desc>
		</Text>
		<Text Name="single_tu">
			<Display>Earth Fullness</Display>
			<Desc>Meningkatkan unsur tanah di lingkungan dan laju terobosan hukum bumi.</Desc>
		</Text>
		<Text Name="jin_mu">
			<Display>Lumber Booster</Display>
			<Desc>Meningkatkan kecepatan kayu dan pengumpulan murid secara signifikan.</Desc>
		</Text>
		<Text Name="jin_shui">
			<Display>Art Booster</Display>
			<Desc>Secara signifikan meningkatkan keterampilan dan kecepatan menjahit para murid.</Desc>
		</Text>
		<Text Name="jin_huo">
			<Display>Mine Booster</Display>
			<Desc>Secara signifikan meningkatkan hasil tambang para murid.</Desc>
		</Text>
		<Text Name="jin_tu">
			<Display>Mine Fullness</Display>
			<Desc>Secara signifikan meningkatkan perolehan murid saya.</Desc>
		</Text>
		<Text Name="mu_shui">
			<Display>Breeding</Display>
			<Desc>Secara signifikan meningkatkan hasil murid sekte dan kesuburan peta sekte</Desc>
		</Text>
		<Text Name="mu_huo">
			<Display>Full Blaze</Display>
			<Desc>Secara signifikan meningkatkan kecepatan menempa dan memasak murid sekte</Desc>
		</Text>
		<Text Name="mu_tu">
			<Display>Stabilize</Display>
			<Desc>Secara signifikan meningkatkan kecepatan konstruksi murid sekte</Desc>
		</Text>
		<Text Name="shui_huo">
			<Display>Waning Flame</Display>
			<Desc>Secara signifikan meningkatkan kecepatan bantuan bencana dan tingkat keberhasilan murid sekte.</Desc>
		</Text>
		<Text Name="shui_tu">
			<Display>Overflow</Display>
			<Desc>Secara signifikan meningkatkan efek penyembuhan yang diharapkan dan pemulihan alami murid sekte</Desc>
		</Text>
		<Text Name="huo_tu">
			<Display>Ashes</Display>
			<Desc>Secara signifikan meningkatkan kecepatan pembongkaran dan kecepatan pembuatan batu murid sekte</Desc>
		</Text>
		<Text Name="jin_mu_shui">
			<Display>Exuberant</Display>
			<Desc>Secara signifikan meningkatkan pencocokan hukum kayu para murid sekte</Desc>
		</Text>
		<Text Name="jin_mu_huo">
			<Display>Viridescent</Display>
			<Desc>Secara signifikan meningkatkan hasil alkimia para murid sekte</Desc>
		</Text>
		<Text Name="jin_mu_tu">
			<Display>Dismal</Display>
			<Desc>Secara signifikan meningkatkan kecepatan kultivasi, kecepatan pembangunan fondasi, dan nilai kondisi mental murid sekte</Desc>
		</Text>
		<Text Name="jin_shui_huo">
			<Display>Lucent</Display>
			<Desc>Secara signifikan meningkatkan tingkat keberhasilan penyempurnaan artefak murid sekte</Desc>
		</Text>
		<Text Name="jin_shui_tu">
			<Display>Cascade</Display>
			<Desc>Secara signifikan meningkatkan pencocokan hukum air para murid sekte</Desc>
		</Text>
		<Text Name="jin_huo_tu">
			<Display>Lustrous</Display>
			<Desc>Secara signifikan meningkatkan pencocokan hukum logam para murid sekte</Desc>
		</Text>
		<Text Name="mu_shui_huo">
			<Display>Fervent</Display>
			<Desc>Secara signifikan meningkatkan pencocokan hukum kebakaran murid sekte</Desc>
		</Text>
		<Text Name="mu_shui_tu">
			<Display>Equable</Display>
			<Desc>Secara signifikan meningkatkan kecepatan alkimia murid sekte</Desc>
		</Text>
		<Text Name="mu_huo_tu">
			<Display>Grim</Display>
			<Desc>Secara signifikan meningkatkan pencocokan hukum bumi para murid sekte</Desc>
		</Text>
		<Text Name="shui_huo_tu">
			<Display>Ardent</Display>
			<Desc>Secara signifikan meningkatkan kecepatan penempaan artefak murid sekte</Desc>
		</Text>
		<Text Name="no_jin">
			<Display>Metal Sever</Display>
			<Desc>Meningkatkan pengurangan kerusakan Logam.(global)</Desc>
		</Text>
		<Text Name="no_mu">
			<Display>Wood Sever</Display>
			<Desc>Meningkatkan pengurangan kerusakan kayu. (global)</Desc>
		</Text>
		<Text Name="no_shui">
			<Display>Water Sever</Display>
			<Desc>Meningkatkan pengurangan kerusakan air. (global)</Desc>
		</Text>
		<Text Name="no_huo">
			<Display>Fire Sever</Display>
			<Desc>Meningkatkan pengurangan kerusakan akibat kebakaran. (global)</Desc>
		</Text>
		<Text Name="no_tu">
			<Display>Earth Sever</Display>
			<Desc>Meningkatkan pengurangan kerusakan atribut Bumi.(global)</Desc>
		</Text>
		<Text Name="hunyuan">
			<Display>Primordial</Display>
			<Desc>Kurangi pencapaian, tingkatkan kecepatan belajar.</Desc>
		</Text>
	</List>
</Texts>