<Texts Type="Other">
	<List>
		<Text Name="Blood">
			<Display>Offer Beast Blood</Display>
			<Desc>Korbankan Darah Iblis ke dalam kolam untuk berdoa mendapatkan item</Desc>
		</Text>
		<Text Name="Elixir">
			<Display>Soul Pearl</Display>
			<Desc>Tawarkan mutiara jiwa untuk item.</Desc>
		</Text>
	</List>
</Texts>