<Texts Type="Other">
	<List>
		<Text Name="Blood">
			<Display>Tawarkan Darah Binatang</Display>
			<Desc>Korbankan darah binatang iblis untuk ditukar dengan item.</Desc>
		</Text>
		<Text Name="Elixir">
			<Display>Mutiara Jiwa</Display>
			<Desc>Korbankan mutiara jiwa untuk ditukar dengan barang.</Desc>
		</Text>
	</List>
</Texts>
