<Texts Type="Other">
	<List>
		<Text Name="1">
			<Display>Number of Ascended: {0}</Display>
		</Text>
		<Text Name="2">
			<Display>Crafting Treasures: {0} times</Display>
		</Text>
		<Text Name="3">
			<Display>Draw Talisman: {0} times</Display>
		</Text>
		<Text Name="4">
			<Display>Killed: {0} creatures</Display>
		</Text>
		<Text Name="5">
			<Display>Learned through books: {0} secret manuals</Display>
		</Text>
		<Text Name="6">
			<Display>Fastest Ascension Time: Day {0}</Display>
		</Text>
		<Text Name="7">
			<Display>Alchemy: {0} Times</Display>
		</Text>
		<Text Name="8">
			<Display>Adventure: {0} times</Display>
		</Text>
		<Text Name="9">
			<Display>Cooking: {0} Times</Display>
		</Text>
		<Text Name="10">
			<Display>Achievement Points: {0}</Display>
		</Text>
		<Text Name="11">
			<Display>Cumulative Inner Disciple deaths: {0}</Display>
		</Text>
		<Text Name="12">
			<Display>Personally discover {0} new locations during adventures</Display>
		</Text>
	</List>
</Texts>