<Texts Type="Other">
	<List>
		<Text Name="_OnTheWay">
			<DisplayName>Dalam perjalanan</DisplayName>
		</Text>
		<Text Name="_GodOnTheWay">
			<DisplayName>Tuhan Sedang Dalam Perjalanan</DisplayName>
		</Text>
		<Text Name="_InMap">
			<DisplayName>Daerah</DisplayName>
		</Text>
		<Text Name="_StayFree">
			<DisplayName>Berkeliaran dalam petualangan.</DisplayName>
		</Text>
		<Text Name="Place_OldSchool">
			<DisplayName>Sekte Kuno</DisplayName>
		</Text>
		<Text Name="_TestMap">
			<DisplayName>Dalam perjalanan</DisplayName>
		</Text>
		<Text Name="_LOSTPALCE">
			<DisplayName>Tanah Hilang (Kosong)</DisplayName>
		</Text>
	</List>
</Texts>